html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:is(:hover, :focus, :active) {
	text-decoration: underline;
}

h2 {
	font-size: 2rem;
}

h1, h3 {
	font-size: 3rem;
	padding: 0;
	margin: 0;
}


ul {
	list-style: none;
	padding: 0;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2rem;
	color: grey;
	margin-left: 1vw;
}

header ul li {
	margin-bottom: 1rem;
	max-width: 14vw;
}

header object {
	width: 5vw;
}

header details span {
	color: black;
	margin-bottom: 1rem;
	display: inline-block;
}

main {
	margin-left: 15vw;
	width: 80vw;
}

@media (max-width: 1000px) {
	header > nav {
		display: none;
	}
	main {
		margin-left: 1vw;
		width: auto;
	}
}


.hero {
	overflow: auto;
}

.hero > section {
	float: left;
	width: 50vw;
}
.hero > section:nth-of-type(2) {
	margin-left: 1vw;
	width: 25vw;
}
@media (max-width: 8000px) {
	.hero > section {
		float: none;
		width: auto;
	}
	.hero > section:nth-of-type(2) {
		width: auto;
	}
}


img {
	max-width: 100%;
	max-height: 100%;
	padding: 1rem;
}

.post {
	position: relative;
	overflow: hidden;
	margin: 2.5% 0;
}

.post > * {
	width: 33%;
	float: left;
}

@media (max-width: 800px) {
	.post > * {
		width: 50%;
	}
	.post p {
		display: none;
	}
	.post h3 {
		font-size: 2rem;
	}
}

.post a:is(:hover, :active, :focus) {
	text-decoration: none;
}

.post p {
	font-size: 2rem;
}
.post img {
	margin: 2.5%;
}

time {
	color: grey;
}

.post time, .post cite {
	position: absolute;
	left: 0;
	bottom: 0;
}
.post cite {
	position: absolute;
	left: 0;
	bottom: 2rem;
}

.post p a {
	width: 75%;
	display: block;
	margin: auto;
}

cite {
	font-weight: bold;
	font-style: normal;
}

.post:is(:hover, :active, :focus, :focus-within)::after {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.25);
	pointer-events: none;
}